[project]
name = "bluenaas"
version = "0.1.0"
description = "Service to launch and manage single cell and small network neuron simulations"
license = "Apache-2.0"
authors = [
    "Open Brain Institute <info@openbraininstitute.org>",
]
readme = "README.md"
requires-python = "==3.12.12"

dependencies = [
    "entitysdk==0.9.0",
    "loguru==0.7.3",
    "msgpack>=1.1.1",
    "obp-accounting-sdk==0.4.1",
    "pandas==2.3.1",
    "pydantic-settings==2.10.1",
    "pydantic==2.11.7",
    "redis[hiredis]==6.2.0",
    "rq==2.4.0",
    "sympy==1.14.0",
]

[dependency-groups]
api = [
    "boto3>=1.40.29",
    "fastapi[standard]==0.116.1",
    "python-keycloak==5.6.0",
    "sentry-sdk[fastapi]==2.33.0",
]
worker = [
    "bluecellulab==2.6.71",
    "efel==5.7.19",
    "filelock==3.18.0",
    "morphio==3.4.0",
    "obi-one==2025.10.9",
    "pynwb==3.1.0",
    "requests==2.32.4",
    "ultraliser; sys_platform == 'linux'"
]
dev = [
    "pyright>=1.1.406",
    "ruff==0.12.3",
]
types = [
    "msgpack-types>=0.5.0",
    "types-requests==2.32.4.20250611",
]

[tool.pyright]
exclude = [
    "app/core/circuit/simulation-mpi-entrypoint.py",
    "app/utils/util.test.py"
]

[tool.ruff]
line-length = 100
target-version = "py312"

[tool.uv]
find-links = ["ext-deps/ultraliser"]

[tool.uv.sources]
