[tool.poetry]
name = "bluenaas"
version = "0.1.0"
description = ""
authors = ["Bilal Meddah <bilal.meddah@epfl.ch>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
fastapi = "^0.111.1"
uvicorn = "^0.30.1"
bluecellulab = "^2.6.21"
ruff = "^0.5.2"
mypy = "^1.10.1"
loguru = "^0.7.2"
pydantic = "^2.8.2"
requests = "^2.32.3"
pydantic-settings = "^2.3.4"
python-dotenv = "^1.0.1"
python-keycloak = "4.3.0"
sympy = "^1.13.1"
pandas = "^2.2.2"
annotated-types = "^0.7.0"
sentry-sdk = {version = "^2.13.0", extras = ["fastapi"]}

[tool.poetry.group.types.dependencies]
types-requests = "^2.32.0.20240712"
[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
venvPath = "/Users/meddah/Library/Caches/pypoetry/virtualenvs"
venv = "bluenaas-DrmS_1CG-py3.12"
