name: Pre-merge Review

on: [pull_request]

jobs:
  pull-request-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          enable-cache: true

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      # TODO Refactor
      - name: Download Ultraliser wheels
        uses: robinraju/release-downloader@v1.11
        with:
          repository: "openbraininstitute/Ultraliser"
          tag: "v2.0.8-rc.1"
          fileName: "*.whl"
          out-file-path: "ext-deps/ultraliser"
          token: ${{ secrets.ULTRALIZER_REPO_PAT }}

      - name: Check requirements
        run: make check-deps

      - name: Configure git and install requirements
        env:
          GH_PRIVATE_REPO_TOKEN: ${{ secrets.GH_PRIVATE_REPO_TOKEN }}
        run: |
          git config --global url."https://$GH_PRIVATE_REPO_TOKEN@github.com/".insteadOf "https://github.com/"
          make install

      - name: Run checks
        run: make check-all
